BOT_TOKEN=1234567890:replace-with-bot-token
REDIS_DSN=redis://redis_fsm
ADMIN_IDS=[123456789]

# Possible logging levels: CRITICAL, ERROR, WARNING, INFO, DEBUG
LOG_LEVEL=DEBUG
LOG_LEVEL_FILE=WARNING

DB_ECHO=False
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres

OWNER_NAME="Ivan Ivanov"
OWNER_TG_LINK=https://t.me/example
DEVELOPER_TG_ID=123456789
