.env
env.production
english_bot.db
jobs.sqlite
.venv/
.venv-ci/
venv/

.idea/
.vscode/

**/__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.mo
*.pot
